.header{
	background-image: url('../img/top-banner.jpg');
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	height: 50vh;
	position: relative;
}

a {text-decoration: 
	none !important;  
}

.contact.container.py-5.border-bottom.border-success {
	width: 650px !important;
}